@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.startscreen {
  font-family: "Press Start 2P", monospace;
  user-select: none;
  cursor: default;
}
.font-pixel {
  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #c9d1d9;
  text-shadow: 1px 1px 0 #3a3f58, 2px 2px 6px #5e677f;
}

.pixel-box {
  background: rgba(25, 22, 38, 0.9);
  border: 2px solid #586e75;
  border-radius: 6px;
  box-shadow: 0 0 8px 2px rgba(88, 110, 117, 0.5);
  padding: 2rem;
}

.pixel-input {
  background: #2b2a40;
  border: 2px solid #586e75;
  color: #c9d1d9;
  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.pixel-input:focus {
  border-color: #728ca3;
  box-shadow: 0 0 6px 2px #728ca3;
}

.pixel-button {
  background: #556a8a;
  border: 2px solid #384a63;
  color: #d6dce8;
  text-transform: uppercase;
  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.15em;
  padding: 0.85rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 3px 0 #384a63;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.pixel-button-logout {
  background: #556a8a;
  border: 2px solid #384a63;
  color: #d6dce8;
  text-transform: uppercase;
  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.15em;
  padding: 0.85rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 3px 0 #384a63;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pixel-button:hover {
  background: #728ca3;
  border-color: #4a5e7d;
  box-shadow: 0 4px 0 #4a5e7d;
}
.pixel-button-logout:hover {
  background: #ea4444;
  border-color: #b91c1c;
  box-shadow: 0 4px 0 #733535;
}

.pixel-link {
  color: #728ca3;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pixel-link:hover {
  color: #a4b0c3;
}

.dashboard-title {
  text-shadow: 2px 2px 0 #ff0000, 4px 4px 0 #ff7f00, 6px 6px 0 #ffff00;
  letter-spacing: 0.15em;
}

.dashboard-title {
  text-shadow: 2px 2px 0 #ff0000, 4px 4px 0 #ff7f00, 6px 6px 0 #ffff00;
  letter-spacing: 0.15em;
}

.dashboard-card {
  background-color: rgba(31, 41, 55, 0.6);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border-width: 2px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: default;
  border-color: #b91c1c;
}
.dashboard-card:hover {
  background-color: #7f1d1d;
  cursor: pointer;
}
.dashboard-card.leaderboard {
  border-color: #ca8a04;
  background-color: rgba(202, 138, 4, 0.5);
  cursor: pointer;
}
.dashboard-card.leaderboard:hover {
  background-color: rgba(202, 138, 4, 0.8);
}
.dashboard-card.admin {
  border-color: #1d948c;
  background-color: rgba(29, 216, 166, 0.5);
  cursor: pointer;
}
.dashboard-card.admin:hover {
  background-color: rgba(29, 216, 197, 0.8);
}
.dashboard-card h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffd700;
}

.leaderboard-list li {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fcd34d;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  padding: 1rem;
}
.modal-content {
  background-color: #111827;
  border-radius: 0.5rem;
  max-width: 64rem;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 2rem;
  position: relative;
}
.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.modal-close-btn:hover {
  color: #dc2626;
}
.modal-title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #facc15;
  font-weight: bold;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
